footer {
    display: flex;  
    align-items: center;
    background-color: #002868;
    color: white;
    padding: 20px;
    text-align: center;
  
  }
  
  .redes-sociais img {
    width: 24px;
    margin: 0 8px;
  }
  
  .logo-rodape {
    height: 30px;
    margin-top: 10px;
  }
  
  .info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    flex-wrap: wrap;  
  }
  
  .redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  @media (max-width: 712px) {
    .info {
      flex-direction: column-reverse;
      text-align: center;
      gap: 10px;
    }
  
    .redes-sociais {
      margin-top: 10px;
    }
  }
  